.body{
  background-image: url('https://s1.eestatic.com/2017/08/25/actualidad/actualidad_241740064_129998126_1099x564.jpg');
  background-size: cover;
  background-attachment: fixed;       
}
.login{ 
  background-color: rgba(222, 190, 177, 0.769); 
  border-radius: 50px;
  border: 1px solid black;
  box-shadow: 30px 30px 30px  rgba(226, 80, 23, 0.3);
}
.login form{
  display: flex;
  margin: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.ancho{
    width: 80%;
}
.spinner{
    margin: 0 auto;
}


mat-form-field {
    width: 90%;
  }
.example-spacer {
  margin: 21.8%;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
img {
  width: 300px;
  height: 300px;
}

button {
  margin-bottom: 15px;
}
