.contenedor{
    height: 100%;
}

.side {
  display: flex;
  flex-direction: column;
}

.butn {
background-color: #673AB7;
color: white;
padding: 10px;
border: 1px white;
border-radius: 6px;
margin: 10px;
}
