@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.al {
  font-family: 'Inter';
  text-align: center;
  letter-spacing: 3px;
  border-bottom: 1px solid rgb(152, 5, 144);
  margin: 15px;
  padding: 20px;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}
