<div class="container pb-5">
  <span appTwenty class="rol">Bienvenido {{datosUsuario}}!</span>
  <h1 appTwenty class="al">Estudiantes</h1>

  <button class="agregar" *ngIf="admin" mat-raised-button color="primary" routerLink="/dashboard/crear-estudiante">+Agregar
    Estudiante</button>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
  </mat-form-field>

  
    <div *ngIf="listaEstudiantes.length > 0" class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="fs-5"> Alumno </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} {{element | apellidoPipe }} </td>
        </ng-container>

        <ng-container matColumnDef="edad">
          <th mat-header-cell *matHeaderCellDef class="fs-5" mat-sort-header>Edad </th>
          <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
        </ng-container>

        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef class="fs-5" mat-sort-header>Correo </th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef class="fs-5"> Telefono </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones" class="acciones" width="25%">

          <th mat-header-cell *matHeaderCellDef class="fs-5" style="text-align: right">
            Acciones </th>
          <td mat-cell *matCellDef="let element ; let i = index" style="text-align: right">

            <a *ngIf="!admin" class="pointer mx-2">
              <mat-icon>search</mat-icon>
            </a>

            <a *ngIf="admin" class="pointer mx-3" matTooltip="Ver Detalle" (click)="openDialog2(element.id)" style="color: #18b031">
              <mat-icon>search</mat-icon>
            </a>
            <a *ngIf="admin" class="pointer mx-3" (click)="openDialog(element.id)" matTooltip="Editar Datos"
              style="color: #1c89c9">
              <mat-icon>edit</mat-icon>
            </a>
            <a *ngIf="admin" class="pointer mx-3" (click)="eliminarEstudiante(i)" matTooltip="Eliminar Alumno"
              style="color: rgb(170, 24, 24)">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="selccione pagina">
      </mat-paginator>
    </div>
  

  <div *ngIf="listaEstudiantes.length == 0">
    <h2>No existen registros para mostrar</h2>
  </div>
</div>