<div class="container">

  <h1 appTwenty>Detalles del alumno</h1>
  <mat-card class="mt-4">
    <div class="card" role="list">
      <h5 class="card-header" role="listitem">{{form.value.estudiante}}</h5>
      <div class="card-body">
        <h5 class="card-title" role="listitem">Mail: {{form.value.correo}}</h5>
        <p class="card-text" role="listitem">
          <mat-list-item role="listitem">Edad: {{form.value.edad}}</mat-list-item>
        </p>
        <p>
          <mat-list-item role="listitem">Tel: {{form.value.telefono}} </mat-list-item>
        </p>
        <a (click)="cerrar()" class="btn btn-primary">Cerrar</a>
      </div>
    </div>
  </mat-card>
</div>