<div class="container card1">
    <h1 appTwenty>Detalle de Inscripcion</h1>     
      <div class="card" role="list">
        <h5 class="card-header" role="listitem">{{form.value.estudiante}}</h5>
        <div class="card-body">
          <p class="card-text" role="listitem">Curso: {{form.value.curso}}</p>
          <p class="card-text" role="listitem">
            <mat-list-item role="listitem">Dias: {{form.value.dias}}</mat-list-item>
          </p>         
          <a (click)="cerrar()" class="btn btn-primary">Cerrar</a>
        </div>
      </div>  
  </div>