

<div class="container">
  <span appTwenty class="rol">Bienvenido {{datosUsuario}}!</span>

    <h1 appTwenty class="al">Inscripciones</h1>

    <div class="example-spacer"></div>
    <span class="example-spacer"></span>

  <button class="agre" *ngIf="admin" mat-raised-button color="primary" routerLink="/dashboard/crear-estudiante">+Agregar Estudiante</button>

  <div *ngIf="listaEstudiantes.length > 0">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
    </mat-form-field>

    <div class="mat-elevation-z12 mt-8">
      <table  mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="fs-5" > Id </th>
          <td mat-cell *matCellDef="let element" >{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="fs-5"> Alumno </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} {{element | apellidoPipe }} </td>
        </ng-container>


   <ng-container matColumnDef="nota">
          <th mat-header-cell *matHeaderCellDef class="fs-5" mat-sort-header> Curso </th>
          <td mat-cell *matCellDef="let element"> {{element.nota}} </td>
        </ng-container>


        <ng-container matColumnDef="curso">
          <th mat-header-cell *matHeaderCellDef class="fs-5" mat-sort-header> Curso </th>
          <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
        </ng-container>


        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef class="fs-5"> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones" class="acciones" width="25%" >

          <th  mat-header-cell *matHeaderCellDef class="fs-5"  style="text-align: right" >
            Acciones </th>
          <td mat-cell *matCellDef="let element ; let i = index"  style="text-align: right" >

            <a *ngIf="!admin" class="pointer mx-2" >
              <mat-icon>search</mat-icon>
            </a>
          <a *ngIf="admin" class="pointer mx-2">
            <button mat-fab color="accent" class="pointer"  matTooltip="Editar Usuario" (click)="openDialog(element.id)"><mat-icon>edit</mat-icon></button>
            </a>

            <a *ngIf="admin" (click)="eliminarEstudiante(i)" class="pointer" matTooltip="Eliminar Usuario">
            <button   mat-fab color="primary" aria-label="Example icon button with a delete icon"  >
              <mat-icon>delete</mat-icon>
            </button></a>

            <a *ngIf="admin" class="pointer"  matTooltip="Ver detalle">
              <button   mat-fab color="primary" aria-label="Example icon button with a delete icon"  >
                <mat-icon>search</mat-icon>
              </button></a>



          </td>


        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>

  </div>
  <div *ngIf="listaEstudiantes.length == 0">
    <h2>No existen registros para mostrar</h2>
  </div>


</div>
