<div class="container bg-div">
  <mat-toolbar class="toolbar-container">
    <h1 appTwenty class="text-white tipografia">Aplicacion para la administracion de estudiantes</h1>
     
  </mat-toolbar>
  <mat-toolbar *ngIf="admin" class="toolbar-container">    
      <p appTwenty class="text-white tipografia">Has iniciado sesion como {{datosUsuario}}, puede crear, editar y elimiar Estudiantes, Cursos, como asi tambien realizar y eliminar inscripciones  </p>
  </mat-toolbar>
  <mat-toolbar *ngIf="!admin" class="toolbar-container">    
      <p appTwenty class="text-white tipografia">Has iniciado sesion como {{datosUsuario}}, puede ver todos los detalles de nuestros cursos y nuestros alumnos.<br> Si te interesa un curso podras inscribirte en la pestaña de Inscripciones  </p>
  </mat-toolbar>
</div>
