<div class="container">


   <h1 appTwenty class="tool">Bienvenido al Coder Campus!</h1>

   <div class="inicio">
    <mat-card class="comps">
    <h2> Sitio WEB del CoderCampus </h2>
    <img src="assets\img\512-384-max.png" alt="">
    <p> En este espacio dispondrá de toda la información correspondiente al Sistema Institucional</p>
    </mat-card>
    <mat-card class="comps">
    <h2> Mesa de Ayuda para Estudiantes y Docentes. </h2>
    <img src="assets\img\512-384-max (1).png " alt="">
    <p>Tutoriales y vías de comunicación para consultas.</p>
    </mat-card>
    <mat-card class="comps">
    <h2>
     Solicitar Recursos</h2>
     <img src="assets\img\512-384-max (2).png" alt="">
    <p>Solicitar Recursos a Aulas Virtuales, Aulas Mesas virtuales para examen, salas de videoconferencia</p>
    </mat-card>
    <mat-card class="comps">
    <h2>
     Comunidad del Estudiante </h2>
     <img src="assets\img\512-384-max (3).png" alt="">
    <p>Es un espacio diseñado para estudiantes e ingresantes, con videos, información actualizada, noticias y todo lo que tenés que saber de la Universidad y de tu trayecto universitario</p>
    </mat-card>


