<div class="container">

  <h1 appTwenty>Editar Curso</h1>

  <mat-card class="mt-4">
    <form [formGroup]="form">

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Cursos</mat-label>

            <input matInput autocomplete="off" formControlName="cursoNombre">

          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <img width="250" height="250" src="../../../../../assets/img/usuario.png" alt="logo de usuario">
        </mat-grid-tile>



        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Dias</mat-label>

            <input matInput autocomplete="off" formControlName="cursoDias">

          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Precio</mat-label>

            <input matInput autocomplete="off" formControlName="precio">

          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Profesor</mat-label>

            <input matInput autocomplete="off" formControlName="profesor">

          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Detalle</mat-label>
            <input matInput autocomplete="off" formControlName="detalle">

          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button class=" mx-4" mat-raised-button color="warn" (click)="volver()">Volver</button>
          <button type="submit" [disabled]="form.invalid" (click)="editEstudiante(form)" class=" mx-4" mat-raised-button
            color="primary">Aceptar</button>
        </mat-grid-tile>

      </mat-grid-list>

    </form>
  </mat-card>
</div>